.App {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  overflow: hidden;

  transition: all 0.5s ease-in-out;

  text-align: center;

  border-radius: 5px;
}
#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.square {
  position: relative;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  transition: all 0.5s ease-in-out;
}
.square_list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  padding: 24px;
  overflow-x: hidden;
  

  text-align: left;

  transition: all 0.5s linear 1s;

  /* background: rgba(50,50,50,0.1); */
}
.square_list ul {
  height: 100%;
}
.square:first-child .square_list {
  left: -100%;
}
.square:nth-child(2) .square_list {
  right: -100%;
}
.square:nth-child(3) .square_list {
  left: -100%;
}
.square:first-child .square_list {
  right: -100%;
}
.square .btn--add {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;

  outline: none;

  transition: all 0.2s ease-in-out;

  cursor: pointer;

  border: none;
  background-color: transparent;
}
.square .btn--add:hover {
  transform: scale(1.05);
}
.square .btn--add:active {
  transform: scale(0.95);
}

.square .btn--category {
  width: 100%;
  height: 100%;

  cursor: pointer;

  outline: none;

  border: none;
  background: none;
}

.App.first,
.App.second,
.App.third,
.App.fourth {
  width: 100%;
  height: 100%;

  border-radius: 0;
}

.App.first .square:first-child {
  width: 90%;
  height: 90%;
}
.App.first .square:first-child .square_list {
  display: block;
  left: 0;
}
.App.first .square:first-child .btn--category {
  display: none;
}

.App.first .square:nth-child(2) {
  width: 10%;
  height: 90%;
}
.App.first .square:nth-child(3) {
  width: 50%;
  height: 10%;
}
.App.first .square:last-child {
  width: 50%;
  height: 10%;
}


.App.second .square:first-child {
  width: 10%;
  height: 90%;
}
.App.second .square:nth-child(2) {
  width: 90%;
  height: 90%;
}
.App.second .square:nth-child(2) .square_list {
  display: block;
  right: 0;
}
.App.second .square:nth-child(3) {
  width: 50%;
  height: 10%;
}
.App.second .square:last-child {
  width: 50%;
  height: 10%;
}
.App.second .square:nth-child(2) .btn--category {
  display: none;
}


.App.third .square:first-child {
  width: 10%;
  height: 10%;
}
.App.third .square:nth-child(2) {
  width: 10%;
  height: 10%;
}
.App.third .square:nth-child(3) {
  width: 90%;
  height: 90%;
}
.App.third .square:nth-child(3) .square_list {
  display: block;
  left: 0;
}
.App.third .square:last-child {
  width: 10%;
  height: 90%;
}
.App.third .square:nth-child(3) .btn--category {
  display: none;
}


.App.fourth .square:first-child {
  width: 50%;
  height: 10%;
}
.App.fourth .square:nth-child(2) {
  width: 50%;
  height: 10%;
}
.App.fourth .square:nth-child(3) {
  width: 10%;
  height: 90%;
}
.App.fourth .square:last-child {
  width: 90%;
  height: 90%;
}
.App.fourth .square:last-child .square_list {
  display: block;
  right: 0;
}
.App.fourth .square:last-child .btn--category {
  display: none;
}


/* todo_item */

.todo_item {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  width: calc(100% - 200px);
  margin-bottom: 20px;
}
.todo_item__main {
  width: calc(100% - 10px);
  height: 100%;
  overflow: hidden;
  position: relative;

  cursor: pointer;

  transition: all 0.2s ease-in-out;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.todo_item__btns {
  overflow: hidden;
  width: 50px;
  height: 100%;
  display: flex;
  
  line-height: 0;

  transition: all 0.2s ease-in-out;

  cursor: pointer;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.todo_item__btns .btn {
  height: 50px;
  width: 50px;
  display: none;

  cursor: pointer;

  outline: none;

  transition: all 0.2s linear;

  border: none;
}
.todo_item__btns .btn--open {
  display: block;

  background-color: rgba(150,150,150, 0.5);  
}


.todo_item__btns .btn:hover {
  filter: brightness(0.7);
}
.todo_item__btns .btn--edit,
.todo_item__btns .btn--save {
  background-color: rgba(50,250,0, 0.5);
}
.todo_item__btns .btn--delete {
  background-color: rgba(250,50,50, 0.5);
}
.todo_item__btns .btn--reject {
  background-color: rgba(250,0,0, 0.7);
}
.todo_item__btns .btn img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}
.todo_item .todo_item__top {
  position: relative;
  height: 100%;
  overflow: hidden;
  width: 100%;

  transition: all 0.5s ease-in-out;

  text-align: left;

  background-color: rgba(200,0,0,.8);
}
.todo_item .todo_item__top p {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}
.todo_item .todo_item__bottom {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;

  transform: translateX(-100%);

  transition: all 0.5s ease-in-out;
}
.todo_item .todo_item__bottom input {
  height: 100%;
  width: 100%;
  padding: 10px;

  outline: none;
  
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.todo_item.done .todo_item__top {
  background-color: rgba(50,250,100,.8);
}
.todo_item.edit .todo_item__bottom {
  width: 100%;
  position: relative;
  
  transform: translateX(0%);
}
.todo_item.edit .todo_item__top {
  position: absolute;
  transform: translateX(100%);
}
.todo_item.menu .btn--open img {
  transform: scale(-1, 1);
}
.todo_item.menu .todo_item__btns,
.todo_item.edit .todo_item__btns {
  width: 150px;
  margin-right: -150px;
}
.todo_item.menu .todo_item__btns .btn--save,
.todo_item.menu .todo_item__btns .btn--reject,
.todo_item.edit .todo_item__btns .btn--edit {
  display: none;
}
.todo_item.menu .todo_item__btns .btn--edit,
.todo_item.menu .todo_item__btns .btn--delete {
  display: block;
}
.todo_item.edit .todo_item__btns .btn--save,
.todo_item.edit .todo_item__btns .btn--reject {
  display: block;
}
.todo_item.edit .todo_item__btns .btn--edit,
.todo_item.edit .todo_item__btns .btn--delete {
  display: none;
}

@media screen and (max-width: 768px) {
  
  .todo_item {
    width: 100%;
  }
  .todo_item.menu .todo_item__main,
  .todo_item.edit .todo_item__main {
    width: calc(100% - 150px);
  }
}